@import "./variables";

.todos {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__main-content {
    min-width: rem(350);
    max-width: rem(400);
  }

  &__header {
    text-align: center;
    margin-bottom: rem(20);
  }

  &__add-btn {
    text-align: center;
    width: 100%;
    padding: rem(8);
    margin-bottom: rem(15);
    color: $green;
    font-size: rem(22);
    font-weight: 500;
    background: none;
    cursor: pointer;
    outline: none;
    border: rem(1.2) solid $orange;
    border-radius: rem(10);
  }

  &__form {
    min-height: rem(31);
    margin-bottom: rem(15);
  }

  &__todo-input {
    width: calc(100% - 5rem);
    float: left;
    border: none;
    outline: none;
    padding: rem(5) rem(8);
    font-size: rem(20);
    border-radius: rem(5);
  }

  &__submit-btn {
    width: rem(72.5);
    float: right;
    padding: rem(5);
    font-size: rem(18);
    background-color: $green;
    color: $light-grey;
    border: rem(2) solid $grey;
    border-radius: rem(5);
    cursor: pointer;
  }

  &__all-todos {
    margin-top: rem(30);
  }

  &__todo-list {
    list-style-position: inside;
    list-style-type: none;
    width: calc(100% + 0.5rem);
    padding-right: rem(8);
    padding-top: rem(6);
    max-height: rem(400);
    overflow: auto;
  }

  &__each-todo {
    position: relative;
    font-size: rem(20);
    margin-bottom: rem(30);
  }

  &__edit-delete {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: rem(2) rem(6);
    background-color: $tomato;
    border-radius: rem(5);
  }

  &__edit-delete > button {
    padding: 0 rem(4);
    border: none;
    outline: none;
    font-size: rem(16);
    background: none;
    cursor: pointer;

    i {
      color: $light-grey;
    }
  }

  // todo editing
  &__todo-editing {
    grid-template-columns: auto rem(72.5);
    gap: rem(5);
  }

  &__edit-input {
    display: block;
    border: none;
    outline: none;
    padding: rem(5) rem(8);
    font-size: rem(20);
    border-radius: rem(5);
  }

  &__edit-save {
    display: block;
    padding: rem(5);
    font-size: rem(18);
    background-color: $green;
    color: $light-grey;
    border: rem(2) solid $grey;
    border-radius: rem(5);
    cursor: pointer;
  }

  // ============reserved for editing============
  .display-none {
    display: none;
  }
  .display-grid {
    display: grid;
  }
  // ============/reserved for editing============

  /* width */
  ::-webkit-scrollbar {
    width: rem(5);
  }

  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $orange;
    border-radius: 10px;
  }
}
