<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <title>Task List</title>
  </head>
  <body>
    <section class="todos">
      <div class="todos__main-content">
        <h1 class="todos__header"><%= title %></h1>
        
        <button class="todos__add-btn">+ Add Todo</button>
        
        <!-- Form -->
        <form class="todos__form" action="/" method="POST">
          <input
            type="text"
            class="todos__todo-input"
            name="todo"
            placeholder="write a todo..."
          />
          <button class="todos__submit-btn">Submit</button>
        </form>
  
        <!-- all the todos -->
        <div class="todos__all-todos">
          <% if(todos.length === 0){ %>
          <p class="nothing">No Todos...</p>
          <% } %>
          <ul>
            <% todos.forEach((todo)=>{ %>
            <li class="todos__each-todo">
              <input type="checkbox" class="todos__each-checkbox" id="todo" name="todo">
              <label for="todo"><%= todo.todo %></label>
              <button class="todos__each-remove-btn">remove</button>
            </li>
            <% }) %>
          </ul>
        </div>
      </div>
    </section>

    <script>
      // catching the elements
      const addBtn = document.querySelector(".todos__add-btn");
      const form = document.querySelector(".todos__form");
      const todoInput = document.querySelector(".todos__todo-input");
      const submitBtn = document.querySelector("todos__submit-btn");

      // default changes
      form.style.display = "none";

      // make changes
      addBtn.addEventListener("click", ()=>{
        form.style.display = "block";
        addBtn.style.display = "none";
      })

      submitBtn.addEventListener("click", async ()=>{
        try {
          const res = await fetch("/", {
            method: "POST",
            body: {
              todo: todoInput.value,
            }
          })

          location.reload();
        } catch (err) {
          console.log(err.message);
        }
      })

    </script>
  </body>
</html>
